/* reset.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* 출처: https://inpa.tistory.com/entry/CSS-📚-RESET-스타일-초기화-🔨 [Inpa Dev 👨‍💻:티스토리] */

a {text-decoration: none;}
    /* index , css */

    /* index-container */
    .index-container{max-width: 1600px; margin: 0 auto;}

    /* index-imageLogo || String */
    .index-imageLogo{
        border: 1px solid red;display: flex;justify-content: space-between;height: 100%;align-items: center;padding: 0 4%;}

    /* index-menu */
    .index-menu{
        display: flex;justify-content: space-between;height: 10vh; align-items: center;
    }
    ul.index-menu > a{padding: 25px;padding-left: 5%;padding-right: 5%;}

    /* index-login */
    .logbox1 {padding: 15px;}
    
    .index-loginBox{display: flex;justify-content: flex-end;     margin-top: 1em;}
    .userBox > a{padding: 0 22%}
    .index-loginBox > .userBox{ width: 15%;text-align: center; border: 2px solid blue;border-radius: 10px;}
    
    .index-logout{ width: 15%;text-align: center; border: 2px solid blue;border-radius: 10px;}
    .logout{padding: 0 30%;}    

    .event-img{width: 500px;height: 400px;}

    
    /* index-BestWine Card  */
    .index-BestWine{border: 1px solid red;display: flex; height: 100%;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        margin-top: 100px;}
    .index-BestWhite{width: 50%;height: 100%;padding: 0 4%;}
    .index-BestRed{width: 50%;height: 100%; padding: 0 4%;}
    .index-cardBox{display: flex; flex-wrap: wrap;
        justify-content: center;
    }
    .index-productBuy{display: flex;align-items: center;height: 30px;}
    .index-productBuy > a{border: 1px solid;width: 50%;text-align: center;height:30px;padding: 20px 20px 0 20px;}

    .index-wineCard{border: 1px solid;width: 225px;height: 330px;margin: 10px;}
    .index-productInfo{display: flex;justify-content: space-around;}
    .index-productInfo > p{border: 1px solid;width: 50%;text-align: center;    margin-bottom: 30px;}
    
    
    /* index-CustomerService 고객센터 및 예약 주문 */
    .index-CustomerService{border: 1px solid red;display: flex;    margin-top: 100px;}
    .index-CustomerService > a{ width: 100%;display: flex;align-items: center;height: 8em;border: 1px solid;justify-content: center;}
    .index-NoticeAndService{display: flex;margin-top: 100px;height: 100%;border: 1px solid;}
    .index-NoticeAndService > a{padding:0 4%;height: 200px;border: 1px solid;width: 26%; display: flex;justify-content: center; align-items: center;}


    .footer-content{border: 1px solid;margin-top: 100px;}
    .footer-sitemap ul{display: flex;padding: 0 4%;justify-content: space-between;}

    /* slick slider */
    .single-item{display: flex;justify-content: center;}
    .slick-prev{visibility: hidden;}
    .slick-next{visibility: hidden;}

    @media (max-width: 1600px) {
        .index-container{padding: 0 4%;}
    }
    @media (max-width: 1200px) {
        .index-BestWine{}
        .index-CustomerService{flex-wrap: wrap; }
        .index-NoticeAndService{flex-direction: column;}
        .index-NoticeAndService > a{width: 92%;}
    }
    @media (max-width:700px) {
        
        body{min-width: 550px;}
        /* .index-imageLogo{min-width: 550px;}
        .index-menu-container{min-width: 550px;}
        .index-BestWine{min-width: 550px;}
        .index-CustomerService{ min-width: 550px;}
        .index-NoticeAndService{min-width: 550px;} */
        
    }
/* index , css */


/* login , css  */

.login-container{border: 1px solid; width: 100%; height: 100%; max-width: 1600px; margin: 0 auto;}
.login-box{border: 1px solid; text-align: center; margin-top: 100px;}
.login-box > input{width: 300px; height: 30px;}
.login-box > div > input{width: 300px; height: 30px;margin-top: 15px;}
.login-btn{margin-top: 20px;}
/* login , css  */

/* memberJoin , css */
.mj-container{display: flex; justify-content: center;border: 1px solid;}

/* Firefox 브라우저용 사용자 정의 스타일 (화살표 제거) */
[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* 그 외(Chrome, Safari, Edge...)의 브라우저용 사용자 정의 스타일  (화살표 제거)*/
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
.mj-flex{display: flex;}
.mj-flex > input{ width: 300px;height: 30px;margin-top: 15px;}
.mj-gender{padding: 15px;}
.mj-btnBox{display: flex; justify-content: space-evenly;    margin-top: 30px;}
  /* memberJoin , css */

  /* wineList , css */

  .wineList-container{border: 1px solid; width: 100%; max-width: 1600px;height: 100%;margin: 0 auto;}

  /* wineList , css */
  .test{border: 1px solid;width: 100%;margin-right: 30px;}
  .wineList-country{border: 1px solid;width: 100%;margin-right: 30px;}
  .wineList-country > ul > li{border: 1px solid;margin: 10px;padding: 10px;}
  .test > ul > li {border: 1px solid;margin: 10px;padding: 10px;}
  .wine-image{margin-bottom: 10px;}
  .product-box1{margin-bottom: 5px;}
  .select-product{display: flex;}
  .select-product > div{font-size: 12px; margin-right: 5px;}
  .product-price{margin-top: 5px;}
    /* wineList , css */

    /* customerService , css */
    .cs-ulBox > li{ padding-right: 10px;}

    /* customerService , css */

    /* notice , css */
    .border-content > li {align-content: center;}
    
    /* notice , css */