    /* index , css */

    a {text-decoration: none;}
    /* index-container */
    .index-container{max-width: 1600px; margin: 0 auto;}

    /* index-imageLogo || String */
    .index-imageLogo{
        border: 1px solid red;display: flex;justify-content: space-between;height: 100%;align-items: center;padding: 0 4%;}

    /* index-menu */
    .index-menu{
        display: flex;justify-content: space-between;height: 10vh; align-items: center;
    }
    ul.index-menu > a{padding: 25px;padding-left: 5%;padding-right: 5%;}

    /* index-login */
    .logbox1 {padding: 15px;}
    
    .index-loginBox{display: flex;justify-content: flex-end;     margin-top: 1em;}
    .userBox > a{padding: 0 22%}
    .index-loginBox > .userBox{ width: 15%;text-align: center; border: 2px solid blue;border-radius: 10px;}
    
    .index-logout{ width: 15%;text-align: center; border: 2px solid blue;border-radius: 10px;}
    .logout{padding: 0 30%;}    

    .event-img{width: 500px;height: 400px;}

    
    /* index-BestWine Card  */
    .index-BestWine{border: 1px solid red;display: flex; height: 100%;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        margin-top: 100px;}
    .index-BestWhite{width: 50%;height: 100%;padding: 0 4%;}
    .index-BestRed{width: 50%;height: 100%; padding: 0 4%;}
    .index-cardBox{display: flex; flex-wrap: wrap;
        justify-content: center;
    }
    .index-productBuy{display: flex;align-items: center;height: 30px;}
    .index-productBuy > a{border: 1px solid;width: 50%;text-align: center;height:30px;padding: 20px 20px 0 20px;}

    .index-wineCard{border: 1px solid;width: 225px;height: 330px;margin: 10px;}
    .index-productInfo{display: flex;justify-content: space-around;}
    .index-productInfo > p{border: 1px solid;width: 50%;text-align: center;    margin-bottom: 30px;}
    
    
    /* index-CustomerService 고객센터 및 예약 주문 */
    .index-CustomerService{border: 1px solid red;display: flex;    margin-top: 100px;}
    .index-CustomerService > a{ width: 100%;display: flex;align-items: center;height: 8em;border: 1px solid;justify-content: center;}
    .index-NoticeAndService{display: flex;margin-top: 100px;height: 100%;border: 1px solid;}
    .index-NoticeAndService > a{padding:0 4%;height: 200px;border: 1px solid;width: 26%; display: flex;justify-content: center; align-items: center;}


    .footer-content{border: 1px solid;margin-top: 100px;}
    .footer-sitemap ul{display: flex;padding: 0 4%;justify-content: space-between;}

    /* slick slider */
    .single-item{display: flex;justify-content: center;}
    .slick-prev{visibility: hidden;}
    .slick-next{visibility: hidden;}

    @media (max-width: 1600px) {
        .index-container{padding: 0 4%;}
    }
    @media (max-width: 1200px) {
        .index-BestWine{}
        .index-CustomerService{flex-wrap: wrap; }
        .index-NoticeAndService{flex-direction: column;}
        .index-NoticeAndService > a{width: 92%;}
    }
    @media (max-width:700px) {
        
        body{min-width: 550px;}
        /* .index-imageLogo{min-width: 550px;}
        .index-menu-container{min-width: 550px;}
        .index-BestWine{min-width: 550px;}
        .index-CustomerService{ min-width: 550px;}
        .index-NoticeAndService{min-width: 550px;} */
        
    }
/* index , css */


/* login , css  */

.login-container{border: 1px solid; width: 100%; height: 100%; max-width: 1600px; margin: 0 auto;}
.login-box{border: 1px solid; text-align: center; margin-top: 100px;}

/* login , css  */

/* memberJoin , css */
.mj-container{display: flex; justify-content: center;border: 1px solid;}

/* Firefox 브라우저용 사용자 정의 스타일 (화살표 제거) */
[type="number"] {
    -moz-appearance: textfield;
  }
  
  /* 그 외(Chrome, Safari, Edge...)의 브라우저용 사용자 정의 스타일  (화살표 제거)*/
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* memberJoin , css */